# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# magic makefile dependency files
*.d

# Visual Studio working directories and files
Release/
Debug/
*.sdf
*.obj
*.tlog
*.log
*.idb
*.pdb

# Visual Studio solution upgrade backup and log
Backup/
UpgradeLog.*